# Cache folders
**/__pycache__/
**/.pytest_cache/
**/.mypy_cache/
**/.venv/

**/.vscode/

# Output and checkpoint files
*.csv
*.out
*.parquet
*.xlsx
*.json
*.pkl
*.pt
*.ini
*.zip
nohup.out
*.tfevents.*

# Python cache
*.pyc

# Misc
*.log

# Remove individual project gitignores
# Only this root .gitignore should be used
*.parquet
*.xlsx
*.json
*.pkl
*.pt
*.ini
*.zip
nohup.out
*.tfevents.*

# Python cache
*.pyc

# Misc
*.log

# Remove individual project gitignores
# Only this root .gitignore should be used
